@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* 버튼 bg 변수 설정 */
  --my-button-bg-color: blue;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.my-btn {
  background-color: var(--my-button-bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark모드: 버튼 bg 변수 설정 */
    --my-button-bg-color: red;

    /* --background: #0a0a0a;
		--foreground: #ededed; */
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
